a{
    color:inherit;
    text-decoration:none;
  }
  a:hover{
    color:inherit;
    text-decoration:none;
  }
  /* 라이브러리 */
  .row::after{
    clear:both;
    display:block;
    content:"";
  }
  .cell{
    float:left;
  }
  
  .cell-right{
    float:right;
  }
  
  .con{
    max-width:1440px;
  } 
  /* 스타일 */
 /* 1차매뉴 시작 */
 .header{
   position: fixed;
   width: 100%;
   height: auto;
   z-index: 99;
   transition: 0.3s;
 }
 .header.active{
   background: #f2f2f2;
 }
 .header > .nav_conteniar{
   width: 1200px;
   height: 90px;
   margin: 0 auto;
 }
 .header > .nav_conteniar > .logo_box{
   margin-top: 12px;
 }
 .header > .nav_conteniar > .logo_box{
   cursor: pointer;
 }
 .header > .nav_conteniar > .nav_box{
   margin-left: 90px;
 }
 .header > .nav_conteniar > .nav_box > ul > li{
   font-size: 15px;
   font-weight: bold;
   margin: 0 30px;
   line-height: 90px;
 }
 .header > .nav_conteniar > .nav_box > ul > li > a{
   display: inline-block;
   height: 90px;
 }
 .header > .nav_conteniar > .nav_box > ul > li > a::after{
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background:#785E4D;
  transition: 0.3s;
  margin: 0 auto;
 }
 .header > .nav_conteniar > .nav_box > ul > li > a:hover:after{
  width: 100%;
 }
 .header > .nav_conteniar > .btn_box{
   width: 110px;
   height: 90px;
   line-height: 90px;
 }
 .header > .nav_conteniar > .btn_box > a{
   display: inline-block;
   width: 110px;
   height: 30px;
   font-size: 15px;
   color:#f2f2f2;
   background: #785E4D;
   text-align: center;
   line-height: 30px;
   border-radius: 13px;
 }
 .header > .nav_conteniar > .btn_box > a:hover{
  color:#785E4D;
  background: #f2f2f2;
  font-weight: bold;
  border: 1px solid #785E4D;
 }
 /* 1차매뉴 끝 */
 /* 2차매뉴 시작 */
 .sub_nenu_wrap{
   position: fixed;
   top: 90px;
   width: 100%;
   height: 0;
   background: #e2dcdc;
   z-index: 98;
   transition: 0.5s;
 }
 .sub_nenu_wrap.active{
  border-top: 1px solid #785E4D;
  height: 300px;
 }
 .sub_nenu_wrap.active > .sub_conteniar{
   opacity: 1;
   visibility: visible;
 }
 .sub_nenu_wrap > .sub_conteniar{
   width: 768px;
   height: 300px;
   margin: 0 auto;
   opacity: 0;
   visibility:hidden;
   transition-delay: 0.1s;
   text-align: center;
 }
 .sub_nenu_wrap > .sub_conteniar > ul:nth-child(1){
   margin:22px 39px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul:nth-child(2){
  margin:22px 24px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul:nth-child(3){
  margin:22px 50px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul:nth-child(4){
  margin:22px 33px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul:nth-child(5){
  margin:22px 16px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul:nth-child(6){
  margin:22px 31px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul > li{
  margin:8px 0;
 }
 .sub_nenu_wrap > .sub_conteniar > ul > li > a{
   font-size: 12px;
 }
 .sub_nenu_wrap > .sub_conteniar > ul > li > a::after{
   content: "";
   display: block;
   width: 0%;
   height: 2px;
   transition: 0.3s;
   background: #785E4D;
   margin: 0 auto;
 }
 .sub_nenu_wrap > .sub_conteniar > ul > li > a:hover:after{
   width: 100%;
 }
 .sub_nenu_wrap > .sub_conteniar > ul > li > a:hover{
   font-weight: bold;
 }
 /* 2차매뉴 끝 */
 /* 탑바 반응형 시작 */
.nobile_wrap{
  display: none;
  position: fixed;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100%;
  z-index: 99;
  transition: 0.5s;
  background-color: #e2dcdc;
}
.nobile_wrap.active{
  left: 0;
}
/* 햄버거 매뉴 시작 */
.nobile_wrap > .hamburg_wrap{
  position:absolute;
  top: 2%;
  left: 105%;
  padding-right:10px;
  padding-left:10px;
  cursor: pointer;
}
.hamburg > span{
  display:block;
  width:30px;
  height:3px;
  margin:9px 0;
  background-color:#785E4D;
  transition: transform 0.5s, opacity 0.5s;
}
.hamburg_wrap.active span:nth-child(1){
  transform:translateY(12px) rotate(45deg);
}
.hamburg_wrap.active span:nth-child(2){
  opacity:0;
}
.hamburg_wrap.active span:nth-child(3){
  transform:translateY(-12px) rotate(-45deg);
}
/* 햄버거 매뉴 끝 */
/* 매뉴 시작 */
.nobile_wrap > .logo_box{
  width: 100%;
  height: auto;
  margin: 1.5rem 0 2rem 0;
  text-align: center;
}
.nobile_wrap > .logo_box > a > img{
  width: 55%;
}
.nobile_wrap > .menu_box{
  width: 100%;
  height: auto;
  text-align: center;
}
.nobile_wrap > .menu_box > li > ul{
  overflow: hidden;
  background: #f2f2f2;
}
.nobile_wrap > .menu_box > li:nth-child(7){
  margin-top: 20%;
}
.nobile_wrap > .menu_box > li > a{
  background-color: #785E4D;
  padding: 10px 35px;
  color: #e2dcdc;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 100px;
  transition: 0.2s;
}
.nobile_wrap > .menu_box > li > a:hover{
  background-color: #e2dcdc;
  color: #785E4D;
  border: 1px solid #785E4D;
}
.nobile_wrap > .menu_box > li > ul{
  height: auto;
}
.nobile_wrap > .menu_box > li > ul > li{
  transition: 0.5s;
  height: 0;
}
.nobile_wrap > .menu_box > li.active > ul > li{
  height: 50px;
}
.nobile_wrap > .menu_box > li.active > p{
  background: #785E4D;
  border-bottom: 1px solid #f2f2f2;
  color: #f2f2f2;
}
.nobile_wrap > .menu_box > li > p{
  font-size: 1.3em;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  transition: 0.25s;
  cursor: pointer;
  border-bottom: 1px solid #785E4D;
}
.nobile_wrap .menu_box > li > ul > li > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  font-weight: bold;
  transition: 0.25s;
  line-height: 50px;
  cursor: pointer;
  border-bottom: 1px solid #785E4D;
}
.nobile_wrap > .menu_box > li > p:hover{
  background: #785E4D;
  border-bottom: 1px solid #f2f2f2;
  color: #f2f2f2;
}
.nobile_wrap > .menu_box > li > ul > li > a:hover{
  background: #785E4D;
  border-bottom: 1px solid #f2f2f2;
  color: #f2f2f2;
}
.nobile_wrap > .menu_box > li > ul > li > a{
  display: block;
  width: 100%;
}
/* 매뉴 끝 */
 @media screen and (max-width: 1200px) {
   .header,.sub_nenu_wrap{
     display: none;
   }
  .nobile_wrap{
    display: block;
  } 
 }
 /* 탑바 반응형 끝 */
 /* sns 버튼 시작 */
 .top_btn{
   position: fixed;
   bottom: 55px;
   right: 130px;
   width: 27px;
   height: 15px;
   z-index: 99;
   opacity: 0;
   visibility: hidden;
   transition: 0.3s;
   cursor: pointer;
   background: url(../img/ico-arr-top.png) no-repeat 0 0;
 }
 .top_btn.active{
   opacity: 1;
   visibility: visible;
 }
 .top_btn:hover{
   background: url(../img/ico-arr-top_hv.png) no-repeat 0 0;
 }
 .sns_wrap{
   position: fixed;
   bottom: 40px;
   right: 70px;
   width: 32px;
   height: 42px;
   z-index: 99;
   transition: 0.3s;
 }
 .sns_wrap.active{
  height: 210px;
 }
 .sns_wrap > .sns_btn{
   position: absolute;
   top: 0;
   width: 32px;
   height: 32px;
   margin-bottom: 10px;
 }
 .sns_wrap > .sns_btn > p{
   position: absolute;
   top: 42px;
   width: 100%;
   height: 100%;
   transition: 0.3s;
   opacity: 0;
   visibility: hidden;
   transition: 0.3s;
 }
 .sns_wrap.active > .sns_btn > p{
  top: 0;
  opacity: 1;
  visibility: visible;
 }
 .sns_wrap.active > .close_btn{
   top: 0;
 }
 .sns_wrap.active > .fb_btn{
   top: 42px;
 }
 .sns_wrap.active > .insta_btn{
   top: 84px;
 }
 .sns_wrap.active > .youtub_btn{
   top: 126px;
 }
 .sns_wrap.active > .app_btn{
   top: 168px;
 }
 .sns_wrap > .close_btn{
   cursor: pointer;
   z-index: 99;
   background: url(../img/ico-sns.png) no-repeat 0 0;
 }
 .sns_wrap > .close_btn:hover{
   background: url(../img/ico-sns_hv.png) no-repeat 0 0;
 }
 .sns_wrap.active > .close_btn{
   background: url(../img/ico-close.png) no-repeat 0 0;
 }
 .sns_wrap.active > .close_btn:hover{
   background: url(../img/ico-close_hv.png) no-repeat 0 0;
 }
 .sns_wrap > .fb_btn > p{
   background: url(../img/ico-fb.png) no-repeat 0 0;
 }
 .sns_wrap > .fb_btn > p:hover{
   background: url(../img/ico-fb_hv.png) no-repeat 0 0;
 }
 .sns_wrap > .insta_btn > p{
   background: url(../img/aside-insta.png) no-repeat 0 0;
 }
 .sns_wrap > .insta_btn > p:hover{
   background: url(../img/aside-insta_hv.png) no-repeat 0 0;
 }
 .sns_wrap > .youtub_btn > p{
   background: url(../img/ico-youtub.png) no-repeat 0 0;
 }
 .sns_wrap > .youtub_btn > p:hover{
   background: url(../img/ico-youtub_hv.png) no-repeat 0 0;
 }
 .sns_wrap > .app_btn > p{
   background: url(../img/ico-app.png) no-repeat 0 0;
 }
 .sns_wrap > .app_btn > p:hover{
   background: url(../img/ico-app_hv.png  ) no-repeat 0 0;
 }
 .sns_btn > .sns_btn > p > a{
   display: inline-block;
   width: 100%;
   height: 100%;
 }
 /* sns 버튼 끝 */
 /* 배너 슬리아드 시작 */
 .benner{
   position: relative;
   width: 100%;
   height: auto;
   z-index: 97;
 }
 .benner_wrap{
   width: 100%;
   height: 820px;
   overflow: hidden;
 }
 /* 도트버튼 */
 .benner_wrap .slick-dots{
   bottom: 10px;
   margin: 0;
 }
 .benner_wrap .slick-dots li.slick-active button:before{
   color: #785E4D;
 }
 /*  */
 .benner_wrap .benner_box{
   width: 100%;
   height: 820px;
 }
 .benner_wrap .benner_box > a{
   display: inline-block;
   width: 100%;
   height: 820px;
 }
 .benner_wrap .benner_1{
   background: url(../img/22년_딸기_신메뉴.jpg) no-repeat top center ;
 }
 .benner_wrap .benner_2{
   background: url(../img/2022년_설_선물세트.jpg) no-repeat top center ;
 }
 .benner_wrap .benner_3{
   background: url(../img/창업설명회_홈페이지.jpg) no-repeat top center ;
 }
 .benner_wrap .benner_4{
   background: url(../img/겨울_신메뉴.jpg) no-repeat top center ;
 }
 .benner_wrap .benner_box > a > img{
   display: none;
   width: 100%;
 }
/* 좌우 넘김버튼 */
.benner > .ben_prev_btn{
  position: absolute;
  top: 50%;
  left: 120px;
  z-index: 98;
  width: 19px;
  height: 38px;
  cursor: pointer;
}
.benner > .ben_next_btn{
  position: absolute;
  top: 50%;
  right: 120px;
  z-index: 98;
  width: 19px;
  height: 38px;
  cursor: pointer;
}
.benner > .btn:hover > svg path{
  fill: #000;
}
/*  */
 /* 배너 슬리아드 끝 */
 /* 배너 슬라이드 반응형 시작 */
 @media screen and (max-width: 1200px) {
  .benner > .btn{
    display: none;
  }.benner > .btn > svg path{
    display: none;
  }
  .benner_wrap{
    height: auto;
  }
  .benner_wrap .benner_box{
    width: 100%;
    height: auto;
    background: none;
  }
  .benner_wrap .benner_box > a{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .benner_wrap .benner_box > a > img{
    display: block;
  }
}
/* 배너 슬라이드 반응형 끝 */
 /* 인테리어 보기 시작 */
 .content_wrap{
   width: 100%;
   height: auto;
   margin: 250px 0;
 }
 .content_wrap > .content_box{
   width: 100%;
   max-width: 1200px;
   height: 400px;
   margin: 0 auto;
 }
 .content_wrap > .content_box > .img_box{
   width: 50%;
 }
 .content_1_wrap > .content_box > .img_box,
 .content_3_wrap > .content_box > .img_box{
    text-align: right;
 }
 .content_wrap > .content_box > .img_box > img{
   width: 100%;
   max-width: 506px;
 }
 .content_wrap:nth-child(4) > .content_box > .img_box > img{
   width: 100%;
   max-width: 400px;
 }
 .content_wrap > .content_box > .text_box{
   width: 50%;
   text-align: center;
 }
 .content_wrap > .content_box > .text_box > .text_1{
   font-size: 48px;
   margin-top: 65px;
 }
 .content_wrap > .content_box > .text_box > .text_2{
   font-size: 23px;
   margin-top: 48px;
 }
 .content_wrap > .content_box > .text_box > .btn{
    margin-top: 58px;
 }
 .content_wrap > .content_box > .text_box > .btn > a{
   font-size: 15px;
   padding:7px 20px;
   border: 1px solid #785E4D;
   border-radius: 100px;
   transition: 0.2s;
 }
 .content_wrap > .content_box > .text_box > .btn > a:hover{
   color: #f2f2f2;
   background: #785E4D;
   font-weight: bold;
 }
 .content_4_wrap > .content_box > .text_box > .text_1{
   margin-top: 115px;
 }
 .content_4_wrap > .content_box > .text_box > .btn{
   margin-top: 78px;
 }
 /* 인테리어 보기 끝 */
 /* 인테리어 보기 반응형 시작 */
 @media screen and (max-width: 1200px) {
  .content_wrap{
    margin: 0;
  }
  .content_wrap > .content_box{
    height: auto;
  }
  .content_wrap > .content_box > .text_box{
    height: auto;
    padding-bottom: 17%;
  }
  .content_wrap > .content_box > .text_box > p{
    margin: 0 10%;
  }
  .content_wrap > .content_box > .img_box{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .content_wrap > .content_box > .img_box > img{
    margin: 0;
    padding: 0;
  }
  .content_wrap > .content_box > .text_box{
    width: 100%;
  }
}
/* 인테리어 보기 반응형 끝 */
 /* 메뉴 슬라이드 시작 */
 .menu_wrap{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 110px;
}
.menu_wrap > .nav_box{
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 98px;
  margin: 0 auto;
}
.menu_wrap > .nav_box > .tltle_box{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 72px;
}
.menu_wrap > .nav_box > .prev_btn{
  position: absolute;
  bottom: 18px;
  right: 100px;
  width: 27px;
  height: 54px;
  cursor: pointer;
}
.menu_wrap > .nav_box > .next_btn{
 position: absolute;
  bottom: 18px;
  right: 0;
  width: 27px;
  height: 54px;
  cursor: pointer;
}
.menu_wrap > .content_box{
  width: 1300px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.menu_wrap > .content_box .menu_box{
  margin: 41px;
  padding-top: 18px;
  padding-bottom: 30px;
}
.menu_wrap > .content_box .menu_box:hover{
  background: #fff;
  box-shadow: 5px 5px 10px #ccc;
  
}
.menu_wrap > .content_box .menu_box > a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.menu_wrap > .content_box .menu_box > a > img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.menu_wrap > .content_box .menu_box > a > p{
  text-align: center;
  font-size: 18px;
  margin-top: 33px;
  font-weight: bold;
}
/* 메뉴 슬라이드 끝 */
 /* 메뉴 슬라이드 반응형 시작 */
 @media screen and (max-width: 1200px) {
  .menu_wrap > .nav_box{
    margin: 12% 0 4% 0;
  }
  .menu_wrap > .nav_box > .tltle_box{
    left: 5%;
  }
  .menu_wrap > .nav_box > .prev_btn{
    right: 17%;
  }
  .menu_wrap > .nav_box > .next_btn{
    right: 5%;
  }
}
/* 메뉴 슬라이드 반응형 끝 */
 /* hello again 시작 */
 .hello_again_wrap{
   width: 100%;
   height: 1530px;
 }
 .hello_again_wrap > .hello_again_box{
   position: relative;
   width: 1200px;
   height: 1530px;
   margin: 0 auto;
 }
 /* 배너 이벤트 시작 */
  .hello_again_wrap > .hello_again_box > .ha_wrap{
    overflow: hidden;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap > .ha_ent_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background: #000;
    text-align: center;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap.active > .ha_ent_box{
    opacity: 70%;
    visibility:visible;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap > .ha_ent_box > a{
    display: none;
    width: 130px;
    height: auto;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin:70% auto;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap.active > .ha_ent_box > a{
    display: block;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap.active > .ha_ent_box > a:hover{
    color: #f74511;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap > img{
    width: 100%;
    transition: 0.3s;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap.active > img{
    width: 200%;
    margin: -55%;
  }
  /* 배너 이벤트 끝 */
 /* 배너1 사직*/
  .hello_again_wrap > .hello_again_box > .ha_1_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 242px;
  }
  /* 배너1 끝*/
 /* 배너2 사직*/
  .hello_again_wrap > .hello_again_box > .ha_2_wrap{
    position: absolute;
    top: 242px;
    left: 0;
    width:300px;
    height: 476px;
    background: #fff;
  }
  .hello_again_wrap > .hello_again_box > .ha_2_wrap > img{
    display: block;
    width: 118px;
    margin: 100px auto 30px auto;
  }
  .hello_again_wrap > .hello_again_box > .ha_2_wrap > p{
    text-align: center;
  }
  /* 배너2 끝*/
 /* 배너3 사직*/
  .hello_again_wrap > .hello_again_box > .ha_3_wrap{
    position: absolute;
    top: 242px;
    left: 300px;
    width: 300px;
    height: 476px;
  }
  /* 배너3 끝*/
 /* 배너4 사직*/
  .hello_again_wrap > .hello_again_box > .ha_4_wrap{
    position: absolute;
    top: 718px;
    left: 0;
    width: 600px;
    height: 812px;
  }
  /* 배너4 끝*/
 /* 배너5 사직*/
  .hello_again_wrap > .hello_again_box > .ha_5_wrap{
    position: absolute;
    top: 0;
    left: 600px;
    width: 600px;
    height: 628px;
  }
  .hello_again_wrap > .hello_again_box > .ha_5_wrap > img{
    width: 600px;
  }
  /* 배너5 끝*/
 /* 배너6 사직*/
  .hello_again_wrap > .hello_again_box > .ha_6_wrap{
    position: absolute;
    top: 628px;
    left: 600px;
    width: 340px;
    height: 729px;
  }
  .hello_again_wrap > .hello_again_box > .ha_6_wrap > img{
    width: 340px;
  }
  .hello_again_wrap > .hello_again_box > .ha_6_wrap.active > .ha_ent_box > a{
    margin:100% auto;
  }
  /* 배너6 끝*/
 /* 배너7 사직*/
  .hello_again_wrap > .hello_again_box > .ha_7_wrap{
    position: absolute;
    top: 628px;
    left: 940px;
    width: 260px;
    height: 476px;
  }
  /* 배너7 끝*/
  /* 배너8,9 이벤트 사직*/
  .hello_again_wrap > .hello_again_box > .ha_wrap_2{
    overflow: hidden;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2 > .text_box{
    width: 173px;
    height: 173px;
    background: #D5BBB4;
    text-align: center;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2 > .text_box > a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 173px;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2 > .text_box > a:hover{
    color: #f74511;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2 > img{
    width: 173px;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2.active > .text_box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 70%;
    transition: 0.5s;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2.active > .text_box > a{
    font-size: 20px;
  }
  .hello_again_wrap > .hello_again_box > .ha_wrap_2.active > img{
    width: 100%;
    height: 200%;
    transition: 0.5s;
  }
  /* 배너8,9 이벤트 끝*/
  /* 배너8 사직*/
  .hello_again_wrap > .hello_again_box > .ha_8_wrap{
    position: absolute;
    top: 1357px;
    left: 249px;
    width: 346px;
    height: 173px;
  }
  /* 배너8 끝*/
  /* 배너9 사직*/
  .hello_again_wrap > .hello_again_box > .ha_9_wrap{
    position: absolute;
    top: 1357px;
    left: 595px;
    width: 346px;
    height: 173px;
  }
  /* 배너9 끝*/
  /* 배너10 사직*/
  .hello_again_wrap > .hello_again_box > .ha_10_wrap{
    position: absolute;
    top: 1105px;
    right: 0;
    width: 260px;
    height: 425px;
    transition: 0.5s;
    overflow: hidden;
  }
  .hello_again_wrap > .hello_again_box > .ha_10_wrap > img{
    position: absolute;
    width: 260px;
    z-index: 89;
  }
  .hello_again_wrap > .hello_again_box > .ha_10_wrap > .text_box{
    position: absolute;
    top: 300px;
    width: 260px;
    height: 125px;
    background: #838DAB;
    text-align: center;
    transition: 0.5s;
  }
  .hello_again_wrap > .hello_again_box > .ha_10_wrap > .text_box > a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 140px;
  }
  .hello_again_wrap > .hello_again_box > .ha_10_wrap > .text_box > a:hover{
    color: #f74511;
  }
  /* 배너10 끝 */
  /* 배너10 이벤트 시작*/
  .hello_again_wrap > .hello_again_box > .ha_10_wrap.active > .text_box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 70%;
    z-index: 90;
  }
  .hello_again_wrap > .hello_again_box > .ha_10_wrap.active > .text_box > a{
    line-height: 440px;
    font-size: 20px;
  }
  .hello_again_wrap > .hello_again_box > .ha_10_wrap.active > img{
    left: -50%;
    width: 200%;
    height: 100%;
    transition: 0.5s;
  }
  /* 배너10 이벤트 끝 */
 /* hello again 끝 */
 /* hello again 반응형 시작 */
  .hello_again_wrap > .m_hello_again{
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
  } 
  .hello_again_wrap > .m_hello_again > .nav_box > .tltle_box{
    width: 600px;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .tltle_box > img{
    width: 100%;
    max-width: 600px;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_prev_btn{
    margin: 70px 0%;
    width: 3%;
    cursor: pointer;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_next_btn{
    margin: 70px 7%;
    width: 3%;
    cursor: pointer;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_prev_btn > svg path:hover,
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_next_btn > svg path:hover{
    fill: #000;
  }
  .hello_again_wrap > .m_hello_again > .content_box{
    width: 100%;
    height: auto;
    margin: 60px auto;
  }
  .hello_again_wrap > .m_hello_again > .content_box  .content{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .hello_again_wrap > .m_hello_again > .content_box  .content > a > img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
 @media screen and (max-width: 1200px) {
  .hello_again_wrap{
    height: auto;
  }
  .hello_again_wrap > .hello_again_box{
    display: none;
  }
  .hello_again_wrap > .m_hello_again{
    display: block;
  } 
  .hello_again_wrap > .m_hello_again > .nav_box > .tltle_box{
    width: 100%;
  }
 }
 @media screen and (max-width: 780px) {
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_prev_btn{
    width: 45%;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 5%;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_prev_btn > svg{
    width: 10%;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_next_btn{
    width: 45%;
    margin: 0;
    padding: 0;
    margin-left: 5%;
  }
  .hello_again_wrap > .m_hello_again > .nav_box > .mo_next_btn > svg{
    width: 10%;
  }
}
 /* hello again 반응형 끝 */
 /* footer 시작 */
 .footer_wrap{
   width: 100%;
   height: auto;
 }
 .footer_wrap > .footer_fa{
   width: 100%;
   height: 100px;
   border-bottom: 2px solid #785E4D;
 }
 .footer_wrap > .footer_fa > .m_footer_wrap{
   display: none;
   width: 200px;
   height: 40%;
   transform: translateY(70%);
   margin: 0 auto;
 }
 .footer_wrap > .footer_fa > .m_footer_wrap > .m_footer_box{
   width: 100%;
   height: 100%;
   font-size: 18px;
   font-weight: bold;
   color: #785E4D;
   text-align: center;
 }
 .footer_wrap > .footer_fa > .m_footer_wrap > .m_footer_box > option > a{
   width: 100%;
   height: 100%;
 }
 .footer_wrap > .footer_la{
   width: 100%;
   height: 158px;
 }
 .footer_wrap > .footer > .footer_box{
   max-width: 1200px;
   width: 100%;
   height: auto;
   margin: 0 auto;
 }
 .footer_wrap > .footer_fa > .footer_box > p{
   margin: 57px 35px 0px 0px;
 }
 .footer_wrap > .footer_fa > .footer_box > p > a{
   font-size: 17px;
   font-weight: bold;
 }
 .footer_wrap > .footer_fa > .footer_box > p > a:hover{
   color: #f74511;
 }
 .footer_wrap > .footer_la > .footer_box > .text_box{
   margin-top: 46px;
 }
 .footer_wrap > .footer_la > .footer_box > .text_box > div{
   font-size: 11px;
   font-weight: bold;
 }
 .footer_wrap > .footer_la > .footer_box > .text_box > div > p{
   margin:0 0 2px 25px;
 }
 .footer_wrap > .footer_la > .footer_box > .text_box > div:nth-child(3){
   font-weight: lighter;
   margin-top: 25px;
 }
 .footer_wrap > .footer_la > .footer_box > .logo_box{
   margin-top: 57px;
 }
 /* footer 끝 */
 /* footer 반응형 시작 */
 @media screen and (max-width: 1200px) {
 .footer_wrap > .footer_fa > .footer_box{
    width: 676px;
    margin: 0 auto;
  }
  .footer_wrap > .footer_fa > .footer_box > p{
    margin: 57px 17px 0px 17px;
  }
}
@media screen and (max-width: 676px) {
  .footer_wrap > .footer_fa > .footer_box{
    display: none;
  }
  .footer_wrap > .footer_fa > .m_footer_wrap{
    display: block;
  }
  .footer_wrap > .footer_la > .footer_box > .text_box{
    width: 100%;
    margin-top: 10%;
  }
  .footer_wrap > .footer_la > .footer_box > .text_box > div{
    max-width: 343px;
    margin: 0 auto;
    text-align: center;
  }
  .footer_wrap > .footer_la > .footer_box > .text_box > div > p{
    margin:0 12px 2px 12px;
  }
  .footer_wrap > .footer_la > .footer_box > .text_box > div:nth-child(3) > p{
    text-align: center;
  }
  .footer_wrap > .footer_la > .footer_box > .logo_box{
    width: 100%;
    margin-top: 9%;
  }
  .footer_wrap > .footer_la > .footer_box > .logo_box > img{
    display: block;
    margin: 0 auto;
  }
}
/* footer 반응형 끝 */